@page
@model MyBase.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="login-page">
    <div class="login-container">
        <h2>Login</h2>

        <form method="post">
            <div>
                <label>Username</label>
                <input type="text" name="Username" required value="admin"/>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="Password" required value="admin123"/>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <div class="error">
                @Model.ErrorMessage
            </div>
        </form>
    </div>
</div>
