@page
@model MyBase.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<a href="/Account/Logout" style="float:right; color:#58a6ff; text-decoration:none; font-weight:bold;">Logout</a>
<h2>Willkommen @ViewData["DisplayName"]!</h2>
<p>Dies ist dein Dashboard.</p>


